.idea/
.gitignore
.prettierrc
.travis.yml
Makefile
node_modules/
.DS_Store

# source
**/*.ts
*.ts
/test

# definitions
!**/*.d.ts
!*.d.ts

# configuration
tsconfig.json
test/jest-config.json
.editorconfig
.eslintignore
.eslintrc.js
.vscode/
